body{
    display: flex;
    font-family: var(--heading), sans-serif;
}

.image{
    display: flex;
    justify-content: center;
}

.albumCard{
    border: solid var(--vinylium-accent);
    font-size: 10pt;
    width: 18%;
    min-height: 18%;
    margin: 10pt;
    padding:10pt;
    position: relative;
    transition: scale 0.3s ease;
}

.albumCard:hover{
    scale: 1.02;
}

.acceptButton{
    color: #08060d;
    font-family: var(--heading), sans-serif;
    
}

.fetchButton{
    color: #08060d;
}

@media only screen and (max-width: 620px) {
    .albumCard{
        width: 100%;
        min-width: 30%;
    }
}

@media only screen and (min-width: 621px) and (max-width: 1000px) {
    .albumCard{
        width: 34%;
        min-width: 30%;
        margin-right: 18px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
    .albumCard{
        width: 20%;
        min-width: 20%;
        margin-right: 18px;
    }
}

.textBord{
    border-bottom: white 1px solid;
}

.productInput{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    text-align: center;
}

.productInput select{
    text-align-last:center;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    appearance: none;
    font-family: var(--heading), sans-serif;
}

.background-style{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(33%);
}

.iField{
    overflow: hidden;
    background-color: transparent;
    outline: none;
    color: var(--text);
    border: none;
    text-align: center;
    font-size: 10pt;
    min-width: fit-content;
    overflow-wrap: break-word;
    word-break: break-all;
}

.acceptButton{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    color: white;
}

#details.acceptButton:hover {
    background-color: var(--vinylium-accent);
}

.acceptButton:hover{
    background-color: forestgreen;
    cursor: pointer;
}

.acceptButton:focus{
    background-color: forestgreen;
    outline: none;
}

