.albumCard{
    border: white solid 1px;
    border-radius: 5%;
    font-size: 10pt;
    width: 18%;
    min-height: 18%;
    max-height: fit-content;
    margin: 10pt;
    padding:10pt;
    position: relative;
    
    
}

@media only screen and (max-width: 767px) {
    .albumCard{
        width: 100%;
        min-width: 30%;
    }
}

@media only screen and (max-width: 860px) {
    .albumCard{
        width: 41%;
        min-width: 30%;
        margin-right: 18px;
    }
}



.textBord{
    border-bottom: white 1px solid;
}

.productInput{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    text-align: center;
}

.background-style{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(33%);
    border-Radius: 5%;
}

.iField{
    overflow: hidden;
    background-color: transparent;
    outline: none;
    color: #9ca3af;
    border: none;
    text-align: center;
    font-family: var(--heading);
    font-size: 10pt;
    min-width: fit-content;
    overflow-wrap: break-word;
    word-break: break-all;
}

.acceptButton{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-top: 5%;
    text-align: center;
    background-color: transparent;
    font-family: var(--heading);
    font-size: 18px;
}

.acceptButton:hover{
    background-color: forestgreen;
    cursor: pointer;
}

.acceptButton:focus{
    background-color: forestgreen;
    outline: none;
}