.fetchedAlbums{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.albums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--width);
    margin: 0 auto;
}

.fetchForm{
    box-sizing: border-box;
    
}

.fetchForm input{
    height: 2vh;
    outline: none;
    border-bottom: var(--text) solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 1.2rem;
    font-family: var(--heading), sans-serif;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    width: 20%;
    margin-left: 5px;
}

.fetchForm input:focus{
    border-bottom: 2px solid var(--vinylium-accent);
}

.fetchForm input::placeholder{
    font-family: var(--heading), sans-serif;
    font-style: italic;
}

.fetchForm label{
    font-style: italic;
    font-size: 0.8rem;
}

.fetchButton{
    border: none;
    outline: white;
    width: 20%;
    height: 4vh;
    color: white;
    margin-left: 5px;
    font-family: var(--heading), sans-serif;
}

.fetchButton:hover{
    cursor: pointer;
    background-color: #9ca3af;
}

.isBarcodeButton{
    border: none;
    outline: white;
    width: 20%;
    height: 4vh;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5px;
    font-family: var(--heading), sans-serif;
    

}

.isBarcodeButton:hover{
    cursor: pointer;
    background-color: #9ca3af;
}