.filtersFull{
    margin-top:1em;
    padding-top:0.2em;
    background-color: var(--bg);
    animation-name: scaleAnim;
    animation-duration: 0.2s;
    border-bottom: var(--border) 1px solid;
    box-shadow: var(--border) 0 10px 10px -10px;
    margin-bottom: 2em;
}

.filters{
    margin: 2em 2em 1em 2em;
    padding:0;
}

.pages {
    display: flex;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.pages button{
    font-size: 0.8rem;
    width: 2em;
    height: 2em;
    transition: font-size 0.1s ease;
}

.pages button:focus{
    font-size: 1rem;
    width: 2em;
    height: 2em;
}

.clicked{
    background-color: var(--vinylium-accent);
}

.filters input{
    margin: 0 2em;
    height: 3vh;
    border: none;
    border-bottom: 1px solid lightgray;
    background: none;
    outline: none;
    font-family: var(--heading) sans-serif;
    text-align: center;
    font-size: 1.2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    transition: width 0.5s ease;
}

.filters input[type=text] {
    width: 15%;
}


.filters input[type=text]:focus {
    width: 20%;
    transition: width 0.5s ease;
}

.filters input[type=number]{
    width: 10%;
}

.filters input[type=number]:focus{
    width: 15%;
    transition: width 0.5s ease;
}


.filters input[type=image]{
    border: none;
    height: 3vh;
    transition: scale 0.3s ease, filter 0.3s ease;
}

.filters input[type=image]:hover{
    scale: 1.1;
    filter: contrast(70%);
}

.filters input:focus{
    border-bottom: 2px solid var(--vinylium-accent);
}

.filters select{
    font-size: 1rem;
    height: 3vh;
    font-family: var(--heading) sans-serif;
    margin: 0 2em;
    text-align: center;
    border-radius: 0;
    background: none;
    border: none;
    transition: background-color 0.1s ease;
}

.filters select:focus{
    background-color: var(--vinylium-accent);
    outline: none;
}

.filters select:hover{
    background-color: var(--vinylium-accent);
}