.stores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: scaleAnim 0.2s ease;
}

@keyframes scaleAnim {
    from { filter: blur(10px); }
    to { filter: blur(0); }
}