.productPage{
    font-family: var(--heading), sans-serif;
}

.productCombined{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--product-page-width);
    margin: 0 auto;
}

.add-to-cart {
    border: none;
    outline: white;
    height: 4vh;
    font-family: var(--heading), sans-serif;
    font-size: 1.2rem;
}

.storeSelect {
    display: flex;
    justify-content: center;
}

.storeSelect select {
    font-size: 1rem;
    height: 4vh;
    font-family: var(--heading) sans-serif;
    text-align: center;
    border-radius: 0;
    background: none;
    border: 1px solid var(--vinylium-accent);
    transition: background-color 0.1s ease;
}

.storeSelect select:focus {
    background-color: var(--vinylium-accent);
    outline: none;
}

.storeSelect select:hover {
    background-color: var(--vinylium-accent);
}

.productPageColumn{
    width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--bg);
    border: 2px solid var(--vinylium-accent);
    padding: 0;
    height: fit-content;
    box-shadow: var(--vinylium-accent) 0 0 10px;
    animation-name: scaleAnim;
    animation-duration: 0.2s;
}

.mainInfo{
    display:grid;
    grid-template-columns:1fr 2fr;
}

.mainRightSide{
    box-sizing: border-box;
    display: grid;
    height: fit-content;
    padding: 1.25rem 1.25rem 0 1.25rem;
    gap: 1.5em;
}

.mainLeftSide{
    box-sizing: border-box;
    border-right: 3px solid var(--vinylium-accent);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.mainLeftSide > img{
    align-self: center;
}

.mainLeftSide > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.tracklist{
    margin: 0 -1.25rem;
    padding: 1em 1.25rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: center;
    border-top: var(--vinylium-accent) solid 0.125rem;
}
.productDetail{
    margin: 0 -1.25rem;
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-bottom: var(--vinylium-accent) solid 2px;
    text-align: center;
}

.tracklistDetail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: var(--vinylium-accent) solid 1px;
}

.priceQuantityInfo{
    display: flex;
    justify-content: center;
}

.priceQuantityInfo .price{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.background-style-prod-page{
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: -2;
    scale: var(--scale);
    filter: blur(10px) brightness(var(--brightness));
    animation: bgBlur 0.5s ease;
}

@keyframes bgBlur {
    from{
        filter: blur(50px) brightness(var(--brightness));
    }
    to{
        filter: blur(10px) brightness(var(--brightness));
    }
}

.title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-wrap: balance;
    word-break: break-word;
    text-align: center;
}

.title h1{
    margin: 0;
}

.priceType{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#type.priceType{
    text-align: left;
}

#price.priceType{
    text-align: right;
}

