.productPage{
    font-family: var(--heading), sans-serif;
}

.productCombined{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width);
    margin: 0 auto;
}

.productPageColumn{
    width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--bg);
    border: 2px solid var(--vinylium-accent);
    padding: 20px;
    height: fit-content;
    box-shadow: var(--vinylium-accent) 0 0 10px;
}

.mainInfo{
    display:grid;
    grid-template-columns:1fr 2fr;
}

.mainRightSide{
    display: grid;
    height: fit-content;    
}

.mainLeftSide{
    margin-right: 1em;
}

.productDetail{
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-bottom: var(--vinylium-accent) solid 1px;
    text-align: center;
}

.priceQuantityInfo{
    
}

.background-style-prod-page{
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    filter: blur(10px) brightness(var(--brightness));
    z-index: -2;
    scale: var(--scale)
}

.title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-wrap: balance;
    word-break: break-word;
    text-align: center;
    padding-bottom: 2em;
}

.title h1{
    margin: 0;
}

.priceType{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#type.priceType{
    text-align: left;
}

#price.priceType{
    text-align: right;
}

