.registrationForm {
    font-family: var(--heading) sans-serif;
    animation: scaleAnim 0.2s ease;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.registrationForm input{
    height: 3vh;
    outline: none;
    border-bottom: var(--text) solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 1.2rem;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    width: 30%;
    font-family: var(--heading) sans-serif;
}


.registrationForm input:focus{
    border-bottom: 2px solid var(--vinylium-accent);
}


.registrationForm input::placeholder{
    font-family: var(--heading), sans-serif;
}

.loginRegButton{
    width: 15%;
}

.submitButton{
    width: 30%;
}

.button-main{
    border: none;
    outline: white;
    height: 4vh;
    font-family: var(--heading), sans-serif;
    font-size: 1.2rem;
}

.button-main:hover{
    cursor: pointer;
}

