.userCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
    border: var(--vinylium-accent) outset 2px;
    margin: 2em;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    padding: 1em;
}

.userCard {
    transition: scale 0.2s ease, box-shadow 0.2s ease;
}

.userCard:hover{
    box-shadow: var(--vinylium-accent) 0 0 10px;
    border: var(--vinylium-accent) outset 2px;
    background-color: var(--vinylium-accent);
    cursor: pointer;
    scale: 1.05;
}
.userCard:focus{
    box-shadow: var(--vinylium-accent) 0 0 10px;
    border: var(--vinylium-accent) outset 2px;
    background-color: var(--vinylium-accent);
    scale: 1.05;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}